*{
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1faee;
    
}
.black{
    position: absolute;
    z-index:5;
    top: 0;
    bottom: 0;
}


h1 {
    text-align: center;
    font-size: 3em;
    color: #f1faee;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.wave-1{
    position: absolute;
    z-index: -1;
    top: 0;
}

.wave-2{
    position: absolute;
    z-index: -1;
    bottom: 0; 
}

/* container styling */
main {
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.color-Container {
    width: 16vw;
    height: 40vh;
    margin-right: 12px;
    background-color: #a8dadc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in 0.3s;
}

.color-Container:hover {
    box-shadow: #1d3557 0 0 50px 7px;
    width: 17vw;
    height: 41vh;
    background-color: #94bcbd;
}

.color-Container:nth-child(5) {
    margin-right: 0px;
}

#displayColor {
    width: 14vw;
    height: 33vh;
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 20px;
}

#colorNum {
    font-size: 1.2em;
    font-weight: 600;
}

/*Bottom section*/

button {
    padding: 1.2% 7%;
    border-radius: 10px;
    background-color: #a8dadc;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    transition: ease-in 0.2s;
}

button:hover {
    padding: 1.4% 7.2%;
    box-shadow: #1d3557 0 0 15px 3px;
    transition: ease-in 0.3s;
    background-color: #94bcbd;
    border: #000 2px solid;

}
button:active{
    background-color: #2c5670;
    border: #000 2px solid;
    transition: ease-in 0.01s;
    color: #fff;
}